<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table border="1" id="tblComprasProductos">
        <tr>
            <th>Compras Materia Prima: </th>
            <th><pre id="lblComprasMatPrima"></pre></th>
        </tr>
        <tr>
            <th>Ingrediente</th>
            <th>Cantidad Comprada(Kg/Gr)</th>
            <th>Valor</th>
            <th>Bolsas/Unidades</th>
            <th>Nit Proveedor</th>
            <th>Ubicación (0: Apto, 1: Local)</th>
        </tr>

        <!--PEGAR AQUI EL EXCEL-->

        <tr><td>Agua</td><td><input id="btnAdicion1" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('1')" tabindex="1" value="+1"><input type="number" id="1" min="0" name="txtCompra1"><input id="btnRetiro1" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('1')" tabindex="1" value="-1"></td></tr>
        <tr><td>Azucar</td><td><input id="btnAdicion4" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('4')" tabindex="4" value="+1"><input type="number" id="4" min="0" name="txtCompra4"><input id="btnRetiro4" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('4')" tabindex="4" value="-1"></td></tr>
        <tr><td>Banano</td><td><input id="btnAdicion32" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('32')" tabindex="32" value="+1"><input type="number" id="32" min="0" name="txtCompra32"><input id="btnRetiro32" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('32')" tabindex="32" value="-1"></td></tr>
        <tr><td>Barquillo</td><td><input id="btnAdicion30" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('30')" tabindex="30" value="+1"><input type="number" id="30" min="0" name="txtCompra30"><input id="btnRetiro30" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('30')" tabindex="30" value="-1"></td></tr>
        <tr><td>Bola grande de helado</td><td><input id="btnAdicion27" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('27')" tabindex="27" value="+1"><input type="number" id="27" min="0" name="txtCompra27"><input id="btnRetiro27" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('27')" tabindex="27" value="-1"></td></tr>
        <tr><td>Bola pequeña de helado</td><td><input id="btnAdicion26" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('26')" tabindex="26" value="+1"><input type="number" id="26" min="0" name="txtCompra26"><input id="btnRetiro26" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('26')" tabindex="26" value="-1"></td></tr>
        <tr><td>Cascos de Mandarina</td><td><input id="btnAdicion36" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('36')" tabindex="36" value="+1"><input type="number" id="36" min="0" name="txtCompra36"><input id="btnRetiro36" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('36')" tabindex="36" value="-1"></td></tr>
        <tr><td>Cascos de Manzana Roja</td><td><input id="btnAdicion22" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('22')" tabindex="22" value="+1"><input type="number" id="22" min="0" name="txtCompra22"><input id="btnRetiro22" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('22')" tabindex="22" value="-1"></td></tr>
        <tr><td>Cascos de Manzana Verde</td><td><input id="btnAdicion23" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('23')" tabindex="23" value="+1"><input type="number" id="23" min="0" name="txtCompra23"><input id="btnRetiro23" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('23')" tabindex="23" value="-1"></td></tr>
        <tr><td>Cereza</td><td><input id="btnAdicion25" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('25')" tabindex="25" value="+1"><input type="number" id="25" min="0" name="txtCompra25"><input id="btnRetiro25" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('25')" tabindex="25" value="-1"></td></tr>
        <tr><td>Crema Chantilly</td><td><input id="btnAdicion28" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('28')" tabindex="28" value="+1"><input type="number" id="28" min="0" name="txtCompra28"><input id="btnRetiro28" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('28')" tabindex="28" value="-1"></td></tr>
        <tr><td>Croissant</td><td><input id="btnAdicion55" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('55')" tabindex="55" value="+1"><input type="number" id="55" min="0" name="txtCompra55"><input id="btnRetiro55" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('55')" tabindex="55" value="-1"></td></tr>
        <tr><td>Curuba</td><td><input id="btnAdicion45" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('45')" tabindex="45" value="+1"><input type="number" id="45" min="0" name="txtCompra45"><input id="btnRetiro45" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('45')" tabindex="45" value="-1"></td></tr>
        <tr><td>Empanada</td><td><input id="btnAdicion57" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('57')" tabindex="57" value="+1"><input type="number" id="57" min="0" name="txtCompra57"><input id="btnRetiro57" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('57')" tabindex="57" value="-1"></td></tr>
        <tr><td>Fresa</td><td><input id="btnAdicion40" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('40')" tabindex="40" value="+1"><input type="number" id="40" min="0" name="txtCompra40"><input id="btnRetiro40" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('40')" tabindex="40" value="-1"></td></tr>
        <tr><td>Guanabana</td><td><input id="btnAdicion39" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('39')" tabindex="39" value="+1"><input type="number" id="39" min="0" name="txtCompra39"><input id="btnRetiro39" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('39')" tabindex="39" value="-1"></td></tr>
        <tr><td>Guayaba</td><td><input id="btnAdicion43" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('43')" tabindex="43" value="+1"><input type="number" id="43" min="0" name="txtCompra43"><input id="btnRetiro43" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('43')" tabindex="43" value="-1"></td></tr>
        <tr><td>Hielo</td><td><input id="btnAdicion2" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('2')" tabindex="2" value="+1"><input type="number" id="2" min="0" name="txtCompra2"><input id="btnRetiro2" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('2')" tabindex="2" value="-1"></td></tr>
        <tr><td>Jugo de Papaya</td><td><input id="btnAdicion33" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('33')" tabindex="33" value="+1"><input type="number" id="33" min="0" name="txtCompra33"><input id="btnRetiro33" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('33')" tabindex="33" value="-1"></td></tr>
        <tr><td>Leche deslactosada</td><td><input id="btnAdicion52" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('52')" tabindex="52" value="+1"><input type="number" id="52" min="0" name="txtCompra52"><input id="btnRetiro52" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('52')" tabindex="52" value="-1"></td></tr>
        <tr><td>Leche entera</td><td><input id="btnAdicion3" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('3')" tabindex="3" value="+1"><input type="number" id="3" min="0" name="txtCompra3"><input id="btnRetiro3" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('3')" tabindex="3" value="-1"></td></tr>
        <tr><td>Lechera</td><td><input id="btnAdicion31" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('31')" tabindex="31" value="+1"><input type="number" id="31" min="0" name="txtCompra31"><input id="btnRetiro31" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('31')" tabindex="31" value="-1"></td></tr>
        <tr><td>Limón</td><td><input id="btnAdicion7" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('7')" tabindex="7" value="+1"><input type="number" id="7" min="0" name="txtCompra7"><input id="btnRetiro7" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('7')" tabindex="7" value="-1"></td></tr>
        <tr><td>Lulo</td><td><input id="btnAdicion46" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('46')" tabindex="46" value="+1"><input type="number" id="46" min="0" name="txtCompra46"><input id="btnRetiro46" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('46')" tabindex="46" value="-1"></td></tr>
        <tr><td>Mandarina</td><td><input id="btnAdicion8" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('8')" tabindex="8" value="+1"><input type="number" id="8" min="0" name="txtCompra8"><input id="btnRetiro8" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('8')" tabindex="8" value="-1"></td></tr>
        <tr><td>Mango</td><td><input id="btnAdicion51" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('51')" tabindex="51" value="+1"><input type="number" id="51" min="0" name="txtCompra51"><input id="btnRetiro51" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('51')" tabindex="51" value="-1"></td></tr>
        <tr><td>Manzana Roja</td><td><input id="btnAdicion48" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('48')" tabindex="48" value="+1"><input type="number" id="48" min="0" name="txtCompra48"><input id="btnRetiro48" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('48')" tabindex="48" value="-1"></td></tr>
        <tr><td>Manzana Verde</td><td><input id="btnAdicion49" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('49')" tabindex="49" value="+1"><input type="number" id="49" min="0" name="txtCompra49"><input id="btnRetiro49" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('49')" tabindex="49" value="-1"></td></tr>
        <tr><td>Maracuya</td><td><input id="btnAdicion37" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('37')" tabindex="37" value="+1"><input type="number" id="37" min="0" name="txtCompra37"><input id="btnRetiro37" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('37')" tabindex="37" value="-1"></td></tr>
        <tr><td>Material Inorganico (Reciclable)</td><td><input id="btnAdicion9999999999" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('9999999999')" tabindex="9999999999" value="+1"><input type="number" id="9999999999" min="0" name="txtCompra9999999999"><input id="btnRetiro9999999999" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('9999999999')" tabindex="9999999999" value="-1"></td></tr>
        <tr><td>Material Organico (Basura)</td><td><input id="btnAdicion9999999998" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('9999999998')" tabindex="9999999998" value="+1"><input type="number" id="9999999998" min="0" name="txtCompra9999999998"><input id="btnRetiro9999999998" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('9999999998')" tabindex="9999999998" value="-1"></td></tr>
        <tr><td>Mayonesa</td><td><input id="btnAdicion59" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('59')" tabindex="59" value="+1"><input type="number" id="59" min="0" name="txtCompra59"><input id="btnRetiro59" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('59')" tabindex="59" value="-1"></td></tr>
        <tr><td>Milo</td><td><input id="btnAdicion21" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('21')" tabindex="21" value="+1"><input type="number" id="21" min="0" name="txtCompra21"><input id="btnRetiro21" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('21')" tabindex="21" value="-1"></td></tr>
        <tr><td>Mora</td><td><input id="btnAdicion41" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('41')" tabindex="41" value="+1"><input type="number" id="41" min="0" name="txtCompra41"><input id="btnRetiro41" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('41')" tabindex="41" value="-1"></td></tr>
        <tr><td>Naranja</td><td><input id="btnAdicion5" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('5')" tabindex="5" value="+1"><input type="number" id="5" min="0" name="txtCompra5"><input id="btnRetiro5" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('5')" tabindex="5" value="-1"></td></tr>
        <tr><td>Pan Bola</td><td><input id="btnAdicion56" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('56')" tabindex="56" value="+1"><input type="number" id="56" min="0" name="txtCompra56"><input id="btnRetiro56" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('56')" tabindex="56" value="-1"></td></tr>
        <tr><td>Pandebono</td><td><input id="btnAdicion53" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('53')" tabindex="53" value="+1"><input type="number" id="53" min="0" name="txtCompra53"><input id="btnRetiro53" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('53')" tabindex="53" value="-1"></td></tr>
        <tr><td>Pandequeso</td><td><input id="btnAdicion54" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('54')" tabindex="54" value="+1"><input type="number" id="54" min="0" name="txtCompra54"><input id="btnRetiro54" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('54')" tabindex="54" value="-1"></td></tr>
        <tr><td>Papaya</td><td><input id="btnAdicion50" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('50')" tabindex="50" value="+1"><input type="number" id="50" min="0" name="txtCompra50"><input id="btnRetiro50" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('50')" tabindex="50" value="-1"></td></tr>
        <tr><td>Piña</td><td><input id="btnAdicion44" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('44')" tabindex="44" value="+1"><input type="number" id="44" min="0" name="txtCompra44"><input id="btnRetiro44" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('44')" tabindex="44" value="-1"></td></tr>
        <tr><td>Pulpa de Curuba</td><td><input id="btnAdicion17" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('17')" tabindex="17" value="+1"><input type="number" id="17" min="0" name="txtCompra17"><input id="btnRetiro17" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('17')" tabindex="17" value="-1"></td></tr>
        <tr><td>Pulpa de Fresa</td><td><input id="btnAdicion12" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('12')" tabindex="12" value="+1"><input type="number" id="12" min="0" name="txtCompra12"><input id="btnRetiro12" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('12')" tabindex="12" value="-1"></td></tr>
        <tr><td>Pulpa de Guanabana</td><td><input id="btnAdicion11" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('11')" tabindex="11" value="+1"><input type="number" id="11" min="0" name="txtCompra11"><input id="btnRetiro11" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('11')" tabindex="11" value="-1"></td></tr>
        <tr><td>Pulpa de Guayaba</td><td><input id="btnAdicion15" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('15')" tabindex="15" value="+1"><input type="number" id="15" min="0" name="txtCompra15"><input id="btnRetiro15" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('15')" tabindex="15" value="-1"></td></tr>
        <tr><td>Pulpa de Lulo</td><td><input id="btnAdicion18" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('18')" tabindex="18" value="+1"><input type="number" id="18" min="0" name="txtCompra18"><input id="btnRetiro18" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('18')" tabindex="18" value="-1"></td></tr>
        <tr><td>Pulpa de Mandarina</td><td><input id="btnAdicion35" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('35')" tabindex="35" value="+1"><input type="number" id="35" min="0" name="txtCompra35"><input id="btnRetiro35" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('35')" tabindex="35" value="-1"></td></tr>
        <tr><td>Pulpa de Mango</td><td><input id="btnAdicion6" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('6')" tabindex="6" value="+1"><input type="number" id="6" min="0" name="txtCompra6"><input id="btnRetiro6" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('6')" tabindex="6" value="-1"></td></tr>
        <tr><td>Pulpa de Maracuya</td><td><input id="btnAdicion9" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('9')" tabindex="9" value="+1"><input type="number" id="9" min="0" name="txtCompra9"><input id="btnRetiro9" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('9')" tabindex="9" value="-1"></td></tr>
        <tr><td>Pulpa de Mora</td><td><input id="btnAdicion13" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('13')" tabindex="13" value="+1"><input type="number" id="13" min="0" name="txtCompra13"><input id="btnRetiro13" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('13')" tabindex="13" value="-1"></td></tr>
        <tr><td>Pulpa de Papaya</td><td><input id="btnAdicion24" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('24')" tabindex="24" value="+1"><input type="number" id="24" min="0" name="txtCompra24"><input id="btnRetiro24" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('24')" tabindex="24" value="-1"></td></tr>
        <tr><td>Pulpa de Piña</td><td><input id="btnAdicion16" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('16')" tabindex="16" value="+1"><input type="number" id="16" min="0" name="txtCompra16"><input id="btnRetiro16" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('16')" tabindex="16" value="-1"></td></tr>
        <tr><td>Pulpa de Tamarindo</td><td><input id="btnAdicion10" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('10')" tabindex="10" value="+1"><input type="number" id="10" min="0" name="txtCompra10"><input id="btnRetiro10" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('10')" tabindex="10" value="-1"></td></tr>
        <tr><td>Pulpa de Tomate de Árbol</td><td><input id="btnAdicion20" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('20')" tabindex="20" value="+1"><input type="number" id="20" min="0" name="txtCompra20"><input id="btnRetiro20" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('20')" tabindex="20" value="-1"></td></tr>
        <tr><td>Pulpa de Uva</td><td><input id="btnAdicion14" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('14')" tabindex="14" value="+1"><input type="number" id="14" min="0" name="txtCompra14"><input id="btnRetiro14" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('14')" tabindex="14" value="-1"></td></tr>
        <tr><td>Queso</td><td><input id="btnAdicion29" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('29')" tabindex="29" value="+1"><input type="number" id="29" min="0" name="txtCompra29"><input id="btnRetiro29" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('29')" tabindex="29" value="-1"></td></tr>
        <tr><td>Rodajas de Banano</td><td><input id="btnAdicion19" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('19')" tabindex="19" value="+1"><input type="number" id="19" min="0" name="txtCompra19"><input id="btnRetiro19" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('19')" tabindex="19" value="-1"></td></tr>
        <tr><td>Salsa BBQ</td><td><input id="btnAdicion62" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('62')" tabindex="62" value="+1"><input type="number" id="62" min="0" name="txtCompra62"><input id="btnRetiro62" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('62')" tabindex="62" value="-1"></td></tr>
        <tr><td>Salsa de Piña</td><td><input id="btnAdicion61" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('61')" tabindex="61" value="+1"><input type="number" id="61" min="0" name="txtCompra61"><input id="btnRetiro61" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('61')" tabindex="61" value="-1"></td></tr>
        <tr><td>Salsa de tomate</td><td><input id="btnAdicion58" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('58')" tabindex="58" value="+1"><input type="number" id="58" min="0" name="txtCompra58"><input id="btnRetiro58" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('58')" tabindex="58" value="-1"></td></tr>
        <tr><td>Salsa Rosada</td><td><input id="btnAdicion60" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('60')" tabindex="60" value="+1"><input type="number" id="60" min="0" name="txtCompra60"><input id="btnRetiro60" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('60')" tabindex="60" value="-1"></td></tr>
        <tr><td>Tamarindo</td><td><input id="btnAdicion38" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('38')" tabindex="38" value="+1"><input type="number" id="38" min="0" name="txtCompra38"><input id="btnRetiro38" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('38')" tabindex="38" value="-1"></td></tr>
        <tr><td>Tomate de Árbol</td><td><input id="btnAdicion47" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('47')" tabindex="47" value="+1"><input type="number" id="47" min="0" name="txtCompra47"><input id="btnRetiro47" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('47')" tabindex="47" value="-1"></td></tr>
        <tr><td>Uva</td><td><input id="btnAdicion42" type="button" class="btn btn-sm btn-success" onclick="AdicionarMateriaP('42')" tabindex="42" value="+1"><input type="number" id="42" min="0" name="txtCompra42"><input id="btnRetiro42" type="button" class="btn btn-sm btn-success" onclick="RetirarMateriaP('42')" tabindex="42" value="-1"></td></tr>


        <!--FIN PEGAR AQUI EL EXCEL-->
    </table>

    <input id="btnVInventario" type="button" class="btn btn-sm btn-success" onclick="VerificarInventario()" value="Verificar Inventario"/>

    <script type="text/javascript">
        var vDatosInventarioDia = [];

        function VerificarInventario() {
            var tabla = document.getElementById("tblInvProductos");

            for (var iContFilas = 0, dfila; dfila = tabla.rows[iContFilas]; iContFilas) {
                for (var iContColumnas = 0, dColumna; dColumna = tabla.cells[iContColumnas]; iContColumnas) {
                    vDatosInventarioDia = {
                        fecha = null,
                        idProducto = document.getElementById("tdid").innerHTML,
                        ExistenciaUlt = null,
                        Ventas = null,
                        ExistenciaHoy = document.getElementById("txtExistH").innerHTML,
                        Diferencia = null,
                    };

                    //dColumna.innerHTML = '[Row=' + r + ',Col=' + c + ']'; 
                }
            };


            //call a function with parameters
            $.ajax({
                type: "POST",
                url: 'api/Inventory/RegistrarCompra',
                data: vDatosInventarioDia,

                success: function (rtaok) {
                    if (rtaok.status === "error") {
                        alert("Error al guardar: " + rtaok.message);
                    }
                    else {
                        rtaok.respuesta = 
                    }
                },
                error: function (rtaerror) {
                    alert("Error al guardar: " + rtaerror.responseText);
                }
            });
        };
    </script>
</body >
</html >