<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table border="1" id="tblInvProductos">
        <tr>
            <th>Fecha elaboración de Pulpa: </th>
            <th><pre id="lblUltInventario"></pre></th>
        </tr>
        <tr>
            <th>Fecha Elaboración</th>
            <th>Fecha Vencimiento</th>
            <th>Fruta</th>
            <th>Cantidad Procesada (Kilos)</th>
            <th>Bolsas Empacadas</th>
            <th>Quien elabora</th>
            <th>Costo Total</th>
            <th>Costo por Bolsa</th>
        </tr>

        <!--PEGAR AQUI EL EXCEL-->

        <tr><td id="4">Azucar: </td><td><pre id="lblExistAAzucar"></pre></td><td><pre id="lblVentaAzucar"></pre></td><td><input type="number" id="4" min="0" name="txtExistHAzucar"></td> <td><pre id="lblDifAzucar"></pre></td></tr>
        <tr><td id="32">Banano: </td><td><pre id="lblExistABanano"></pre></td><td><pre id="lblVentaBanano"></pre></td><td><input type="number" id="32" min="0" name="txtExistHBanano"></td> <td><pre id="lblDifBanano"></pre></td></tr>
        <tr><td id="30">Barquillo: </td><td><pre id="lblExistABarquillo"></pre></td><td><pre id="lblVentaBarquillo"></pre></td><td><input type="number" id="30" min="0" name="txtExistHBarquillo"></td> <td><pre id="lblDifBarquillo"></pre></td></tr>
        <tr><td id="27">Bola grande de helado: </td><td><pre id="lblExistABolagrandedehelado"></pre></td><td><pre id="lblVentaBolagrandedehelado"></pre></td><td><input type="number" id="27" min="0" name="txtExistHBolagrandedehelado"></td> <td><pre id="lblDifBolagrandedehelado"></pre></td></tr>
        <tr><td id="26">Bola pequeña de helado: </td><td><pre id="lblExistABolapequeñadehelado"></pre></td><td><pre id="lblVentaBolapequeñadehelado"></pre></td><td><input type="number" id="26" min="0" name="txtExistHBolapequeñadehelado"></td> <td><pre id="lblDifBolapequeñadehelado"></pre></td></tr>
        <tr><td id="36">Cascos de Mandarina: </td><td><pre id="lblExistACascosdeMandarina"></pre></td><td><pre id="lblVentaCascosdeMandarina"></pre></td><td><input type="number" id="36" min="0" name="txtExistHCascosdeMandarina"></td> <td><pre id="lblDifCascosdeMandarina"></pre></td></tr>
        <tr><td id="22">Cascos de Manzana Roja: </td><td><pre id="lblExistACascosdeManzanaRoja"></pre></td><td><pre id="lblVentaCascosdeManzanaRoja"></pre></td><td><input type="number" id="22" min="0" name="txtExistHCascosdeManzanaRoja"></td> <td><pre id="lblDifCascosdeManzanaRoja"></pre></td></tr>
        <tr><td id="23">Cascos de Manzana Verde: </td><td><pre id="lblExistACascosdeManzanaVerde"></pre></td><td><pre id="lblVentaCascosdeManzanaVerde"></pre></td><td><input type="number" id="23" min="0" name="txtExistHCascosdeManzanaVerde"></td> <td><pre id="lblDifCascosdeManzanaVerde"></pre></td></tr>
        <tr><td id="25">Cereza: </td><td><pre id="lblExistACereza"></pre></td><td><pre id="lblVentaCereza"></pre></td><td><input type="number" id="25" min="0" name="txtExistHCereza"></td> <td><pre id="lblDifCereza"></pre></td></tr>
        <tr><td id="28">Crema Chantilly: </td><td><pre id="lblExistACremaChantilly"></pre></td><td><pre id="lblVentaCremaChantilly"></pre></td><td><input type="number" id="28" min="0" name="txtExistHCremaChantilly"></td> <td><pre id="lblDifCremaChantilly"></pre></td></tr>
        <tr><td id="55">Croissant: </td><td><pre id="lblExistACroissant"></pre></td><td><pre id="lblVentaCroissant"></pre></td><td><input type="number" id="55" min="0" name="txtExistHCroissant"></td> <td><pre id="lblDifCroissant"></pre></td></tr>
        <tr><td id="45">Curuba: </td><td><pre id="lblExistACuruba"></pre></td><td><pre id="lblVentaCuruba"></pre></td><td><input type="number" id="45" min="0" name="txtExistHCuruba"></td> <td><pre id="lblDifCuruba"></pre></td></tr>
        <tr><td id="57">Empanada: </td><td><pre id="lblExistAEmpanada"></pre></td><td><pre id="lblVentaEmpanada"></pre></td><td><input type="number" id="57" min="0" name="txtExistHEmpanada"></td> <td><pre id="lblDifEmpanada"></pre></td></tr>
        <tr><td id="40">Fresa: </td><td><pre id="lblExistAFresa"></pre></td><td><pre id="lblVentaFresa"></pre></td><td><input type="number" id="40" min="0" name="txtExistHFresa"></td> <td><pre id="lblDifFresa"></pre></td></tr>
        <tr><td id="39">Guanabana: </td><td><pre id="lblExistAGuanabana"></pre></td><td><pre id="lblVentaGuanabana"></pre></td><td><input type="number" id="39" min="0" name="txtExistHGuanabana"></td> <td><pre id="lblDifGuanabana"></pre></td></tr>
        <tr><td id="43">Guayaba: </td><td><pre id="lblExistAGuayaba"></pre></td><td><pre id="lblVentaGuayaba"></pre></td><td><input type="number" id="43" min="0" name="txtExistHGuayaba"></td> <td><pre id="lblDifGuayaba"></pre></td></tr>
        <tr><td id="2">Hielo: </td><td><pre id="lblExistAHielo"></pre></td><td><pre id="lblVentaHielo"></pre></td><td><input type="number" id="2" min="0" name="txtExistHHielo"></td> <td><pre id="lblDifHielo"></pre></td></tr>
        <tr><td id="33">Jugo de Papaya: </td><td><pre id="lblExistAJugodePapaya"></pre></td><td><pre id="lblVentaJugodePapaya"></pre></td><td><input type="number" id="33" min="0" name="txtExistHJugodePapaya"></td> <td><pre id="lblDifJugodePapaya"></pre></td></tr>
        <tr><td id="52">Leche deslactosada: </td><td><pre id="lblExistALechedeslactosada"></pre></td><td><pre id="lblVentaLechedeslactosada"></pre></td><td><input type="number" id="52" min="0" name="txtExistHLechedeslactosada"></td> <td><pre id="lblDifLechedeslactosada"></pre></td></tr>
        <tr><td id="3">Leche entera: </td><td><pre id="lblExistALecheentera"></pre></td><td><pre id="lblVentaLecheentera"></pre></td><td><input type="number" id="3" min="0" name="txtExistHLecheentera"></td> <td><pre id="lblDifLecheentera"></pre></td></tr>
        <tr><td id="31">Lechera: </td><td><pre id="lblExistALechera"></pre></td><td><pre id="lblVentaLechera"></pre></td><td><input type="number" id="31" min="0" name="txtExistHLechera"></td> <td><pre id="lblDifLechera"></pre></td></tr>
        <tr><td id="7">Limón: </td><td><pre id="lblExistALimón"></pre></td><td><pre id="lblVentaLimón"></pre></td><td><input type="number" id="7" min="0" name="txtExistHLimón"></td> <td><pre id="lblDifLimón"></pre></td></tr>
        <tr><td id="46">Lulo: </td><td><pre id="lblExistALulo"></pre></td><td><pre id="lblVentaLulo"></pre></td><td><input type="number" id="46" min="0" name="txtExistHLulo"></td> <td><pre id="lblDifLulo"></pre></td></tr>
        <tr><td id="8">Mandarina: </td><td><pre id="lblExistAMandarina"></pre></td><td><pre id="lblVentaMandarina"></pre></td><td><input type="number" id="8" min="0" name="txtExistHMandarina"></td> <td><pre id="lblDifMandarina"></pre></td></tr>
        <tr><td id="51">Mango: </td><td><pre id="lblExistAMango"></pre></td><td><pre id="lblVentaMango"></pre></td><td><input type="number" id="51" min="0" name="txtExistHMango"></td> <td><pre id="lblDifMango"></pre></td></tr>
        <tr><td id="48">Manzana Roja: </td><td><pre id="lblExistAManzanaRoja"></pre></td><td><pre id="lblVentaManzanaRoja"></pre></td><td><input type="number" id="48" min="0" name="txtExistHManzanaRoja"></td> <td><pre id="lblDifManzanaRoja"></pre></td></tr>
        <tr><td id="49">Manzana Verde: </td><td><pre id="lblExistAManzanaVerde"></pre></td><td><pre id="lblVentaManzanaVerde"></pre></td><td><input type="number" id="49" min="0" name="txtExistHManzanaVerde"></td> <td><pre id="lblDifManzanaVerde"></pre></td></tr>
        <tr><td id="37">Maracuya: </td><td><pre id="lblExistAMaracuya"></pre></td><td><pre id="lblVentaMaracuya"></pre></td><td><input type="number" id="37" min="0" name="txtExistHMaracuya"></td> <td><pre id="lblDifMaracuya"></pre></td></tr>
        <tr><td id="9999999999">Material Inorganico (Reciclable): </td><td><pre id="lblExistAMaterialInorganicoReciclable"></pre></td><td><pre id="lblVentaMaterialInorganicoReciclable"></pre></td><td><input type="number" id="9999999999" min="0" name="txtExistHMaterialInorganicoReciclable"></td> <td><pre id="lblDifMaterialInorganicoReciclable"></pre></td></tr>
        <tr><td id="9999999998">Material Organico (Basura): </td><td><pre id="lblExistAMaterialOrganicoBasura"></pre></td><td><pre id="lblVentaMaterialOrganicoBasura"></pre></td><td><input type="number" id="9999999998" min="0" name="txtExistHMaterialOrganicoBasura"></td> <td><pre id="lblDifMaterialOrganicoBasura"></pre></td></tr>
        <tr><td id="59">Mayonesa: </td><td><pre id="lblExistAMayonesa"></pre></td><td><pre id="lblVentaMayonesa"></pre></td><td><input type="number" id="59" min="0" name="txtExistHMayonesa"></td> <td><pre id="lblDifMayonesa"></pre></td></tr>
        <tr><td id="21">Milo: </td><td><pre id="lblExistAMilo"></pre></td><td><pre id="lblVentaMilo"></pre></td><td><input type="number" id="21" min="0" name="txtExistHMilo"></td> <td><pre id="lblDifMilo"></pre></td></tr>
        <tr><td id="41">Mora: </td><td><pre id="lblExistAMora"></pre></td><td><pre id="lblVentaMora"></pre></td><td><input type="number" id="41" min="0" name="txtExistHMora"></td> <td><pre id="lblDifMora"></pre></td></tr>
        <tr><td id="5">Naranja: </td><td><pre id="lblExistANaranja"></pre></td><td><pre id="lblVentaNaranja"></pre></td><td><input type="number" id="5" min="0" name="txtExistHNaranja"></td> <td><pre id="lblDifNaranja"></pre></td></tr>
        <tr><td id="56">Pan Bola: </td><td><pre id="lblExistAPanBola"></pre></td><td><pre id="lblVentaPanBola"></pre></td><td><input type="number" id="56" min="0" name="txtExistHPanBola"></td> <td><pre id="lblDifPanBola"></pre></td></tr>
        <tr><td id="53">Pandebono: </td><td><pre id="lblExistAPandebono"></pre></td><td><pre id="lblVentaPandebono"></pre></td><td><input type="number" id="53" min="0" name="txtExistHPandebono"></td> <td><pre id="lblDifPandebono"></pre></td></tr>
        <tr><td id="54">Pandequeso: </td><td><pre id="lblExistAPandequeso"></pre></td><td><pre id="lblVentaPandequeso"></pre></td><td><input type="number" id="54" min="0" name="txtExistHPandequeso"></td> <td><pre id="lblDifPandequeso"></pre></td></tr>
        <tr><td id="50">Papaya: </td><td><pre id="lblExistAPapaya"></pre></td><td><pre id="lblVentaPapaya"></pre></td><td><input type="number" id="50" min="0" name="txtExistHPapaya"></td> <td><pre id="lblDifPapaya"></pre></td></tr>
        <tr><td id="44">Piña: </td><td><pre id="lblExistAPiña"></pre></td><td><pre id="lblVentaPiña"></pre></td><td><input type="number" id="44" min="0" name="txtExistHPiña"></td> <td><pre id="lblDifPiña"></pre></td></tr>
        <tr><td id="17">Pulpa de Curuba: </td><td><pre id="lblExistAPulpadeCuruba"></pre></td><td><pre id="lblVentaPulpadeCuruba"></pre></td><td><input type="number" id="17" min="0" name="txtExistHPulpadeCuruba"></td> <td><pre id="lblDifPulpadeCuruba"></pre></td></tr>
        <tr><td id="12">Pulpa de Fresa: </td><td><pre id="lblExistAPulpadeFresa"></pre></td><td><pre id="lblVentaPulpadeFresa"></pre></td><td><input type="number" id="12" min="0" name="txtExistHPulpadeFresa"></td> <td><pre id="lblDifPulpadeFresa"></pre></td></tr>
        <tr><td id="11">Pulpa de Guanabana: </td><td><pre id="lblExistAPulpadeGuanabana"></pre></td><td><pre id="lblVentaPulpadeGuanabana"></pre></td><td><input type="number" id="11" min="0" name="txtExistHPulpadeGuanabana"></td> <td><pre id="lblDifPulpadeGuanabana"></pre></td></tr>
        <tr><td id="15">Pulpa de Guayaba: </td><td><pre id="lblExistAPulpadeGuayaba"></pre></td><td><pre id="lblVentaPulpadeGuayaba"></pre></td><td><input type="number" id="15" min="0" name="txtExistHPulpadeGuayaba"></td> <td><pre id="lblDifPulpadeGuayaba"></pre></td></tr>
        <tr><td id="18">Pulpa de Lulo: </td><td><pre id="lblExistAPulpadeLulo"></pre></td><td><pre id="lblVentaPulpadeLulo"></pre></td><td><input type="number" id="18" min="0" name="txtExistHPulpadeLulo"></td> <td><pre id="lblDifPulpadeLulo"></pre></td></tr>
        <tr><td id="35">Pulpa de Mandarina: </td><td><pre id="lblExistAPulpadeMandarina"></pre></td><td><pre id="lblVentaPulpadeMandarina"></pre></td><td><input type="number" id="35" min="0" name="txtExistHPulpadeMandarina"></td> <td><pre id="lblDifPulpadeMandarina"></pre></td></tr>
        <tr><td id="6">Pulpa de Mango: </td><td><pre id="lblExistAPulpadeMango"></pre></td><td><pre id="lblVentaPulpadeMango"></pre></td><td><input type="number" id="6" min="0" name="txtExistHPulpadeMango"></td> <td><pre id="lblDifPulpadeMango"></pre></td></tr>
        <tr><td id="9">Pulpa de Maracuya: </td><td><pre id="lblExistAPulpadeMaracuya"></pre></td><td><pre id="lblVentaPulpadeMaracuya"></pre></td><td><input type="number" id="9" min="0" name="txtExistHPulpadeMaracuya"></td> <td><pre id="lblDifPulpadeMaracuya"></pre></td></tr>
        <tr><td id="13">Pulpa de Mora: </td><td><pre id="lblExistAPulpadeMora"></pre></td><td><pre id="lblVentaPulpadeMora"></pre></td><td><input type="number" id="13" min="0" name="txtExistHPulpadeMora"></td> <td><pre id="lblDifPulpadeMora"></pre></td></tr>
        <tr><td id="24">Pulpa de Papaya: </td><td><pre id="lblExistAPulpadePapaya"></pre></td><td><pre id="lblVentaPulpadePapaya"></pre></td><td><input type="number" id="24" min="0" name="txtExistHPulpadePapaya"></td> <td><pre id="lblDifPulpadePapaya"></pre></td></tr>
        <tr><td id="16">Pulpa de Piña: </td><td><pre id="lblExistAPulpadePiña"></pre></td><td><pre id="lblVentaPulpadePiña"></pre></td><td><input type="number" id="16" min="0" name="txtExistHPulpadePiña"></td> <td><pre id="lblDifPulpadePiña"></pre></td></tr>
        <tr><td id="10">Pulpa de Tamarindo: </td><td><pre id="lblExistAPulpadeTamarindo"></pre></td><td><pre id="lblVentaPulpadeTamarindo"></pre></td><td><input type="number" id="10" min="0" name="txtExistHPulpadeTamarindo"></td> <td><pre id="lblDifPulpadeTamarindo"></pre></td></tr>
        <tr><td id="20">Pulpa de Tomate de Árbol: </td><td><pre id="lblExistAPulpadeTomatedeÁrbol"></pre></td><td><pre id="lblVentaPulpadeTomatedeÁrbol"></pre></td><td><input type="number" id="20" min="0" name="txtExistHPulpadeTomatedeÁrbol"></td> <td><pre id="lblDifPulpadeTomatedeÁrbol"></pre></td></tr>
        <tr><td id="14">Pulpa de Uva: </td><td><pre id="lblExistAPulpadeUva"></pre></td><td><pre id="lblVentaPulpadeUva"></pre></td><td><input type="number" id="14" min="0" name="txtExistHPulpadeUva"></td> <td><pre id="lblDifPulpadeUva"></pre></td></tr>
        <tr><td id="29">Queso: </td><td><pre id="lblExistAQueso"></pre></td><td><pre id="lblVentaQueso"></pre></td><td><input type="number" id="29" min="0" name="txtExistHQueso"></td> <td><pre id="lblDifQueso"></pre></td></tr>
        <tr><td id="19">Rodajas de Banano: </td><td><pre id="lblExistARodajasdeBanano"></pre></td><td><pre id="lblVentaRodajasdeBanano"></pre></td><td><input type="number" id="19" min="0" name="txtExistHRodajasdeBanano"></td> <td><pre id="lblDifRodajasdeBanano"></pre></td></tr>
        <tr><td id="62">Salsa BBQ: </td><td><pre id="lblExistASalsaBBQ"></pre></td><td><pre id="lblVentaSalsaBBQ"></pre></td><td><input type="number" id="62" min="0" name="txtExistHSalsaBBQ"></td> <td><pre id="lblDifSalsaBBQ"></pre></td></tr>
        <tr><td id="61">Salsa de Piña: </td><td><pre id="lblExistASalsadePiña"></pre></td><td><pre id="lblVentaSalsadePiña"></pre></td><td><input type="number" id="61" min="0" name="txtExistHSalsadePiña"></td> <td><pre id="lblDifSalsadePiña"></pre></td></tr>
        <tr><td id="58">Salsa de tomate: </td><td><pre id="lblExistASalsadetomate"></pre></td><td><pre id="lblVentaSalsadetomate"></pre></td><td><input type="number" id="58" min="0" name="txtExistHSalsadetomate"></td> <td><pre id="lblDifSalsadetomate"></pre></td></tr>
        <tr><td id="60">Salsa Rosada: </td><td><pre id="lblExistASalsaRosada"></pre></td><td><pre id="lblVentaSalsaRosada"></pre></td><td><input type="number" id="60" min="0" name="txtExistHSalsaRosada"></td> <td><pre id="lblDifSalsaRosada"></pre></td></tr>
        <tr><td id="38">Tamarindo: </td><td><pre id="lblExistATamarindo"></pre></td><td><pre id="lblVentaTamarindo"></pre></td><td><input type="number" id="38" min="0" name="txtExistHTamarindo"></td> <td><pre id="lblDifTamarindo"></pre></td></tr>
        <tr><td id="47">Tomate de Árbol: </td><td><pre id="lblExistATomatedeÁrbol"></pre></td><td><pre id="lblVentaTomatedeÁrbol"></pre></td><td><input type="number" id="47" min="0" name="txtExistHTomatedeÁrbol"></td> <td><pre id="lblDifTomatedeÁrbol"></pre></td></tr>
        <tr><td id="42">Uva: </td><td><pre id="lblExistAUva"></pre></td><td><pre id="lblVentaUva"></pre></td><td><input type="number" id="42" min="0" name="txtExistHUva"></td> <td><pre id="lblDifUva"></pre></td></tr>
        <tr><td id="34">Zumo de Limón: </td><td><pre id="lblExistAZumodeLimón"></pre></td><td><pre id="lblVentaZumodeLimón"></pre></td><td><input type="number" id="34" min="0" name="txtExistHZumodeLimón"></td> <td><pre id="lblDifZumodeLimón"></pre></td></tr>

        <!--FIN PEGAR AQUI EL EXCEL-->
    </table>

    <input id="btnVInventario" type="button" class="btn btn-sm btn-success" onclick="VerificarInventario()" value="Verificar Inventario"/>

    <script type="text/javascript">
        var vDatosInventarioDia = [];

        function VerificarInventario() {
            var tabla = document.getElementById("tblInvProductos");

            for (var iContFilas = 0, dfila; dfila = tabla.rows[iContFilas]; iContFilas) {
                for (var iContColumnas = 0, dColumna; dColumna = tabla.cells[iContColumnas]; iContColumnas) {
                    vDatosInventarioDia = {
                        fecha = null,
                        idProducto = document.getElementById("tdid").innerHTML,
                        ExistenciaUlt = null,
                        Ventas = null,
                        ExistenciaHoy = document.getElementById("txtExistH").innerHTML,
                        Diferencia = null,
                    };

                    //dColumna.innerHTML = '[Row=' + r + ',Col=' + c + ']'; 
                }
            };


            //call a function with parameters
            $.ajax({
                type: "POST",
                url: 'Inventory/HacerPulpa',
                data: vDatosInventarioDia,

                success: function (rtaok) {
                    if (rtaok.status === "error") {
                        alert("Error al guardar: " + rtaok.message);
                    }
                    else {
                        rtaok.respuesta = 
                    }
                },
                error: function (rtaerror) {
                    alert("Error al guardar: " + rtaerror.responseText);
                }
            });
        };
    </script>
</body >
</html >