
@{
    ViewBag.Title = "Facturacion";
}

<h2>Facturacion</h2>
<select name="Producto">
    <option value="1">Jugo de Mango en Agua pequeño</option>
    <option value="2">Jugo de Mango en Agua grande</option>
    <option value="3">Jugo de Mango en Leche pequeño</option>
    <option value="4">Jugo de Mango en Leche grande</option>
    <option value="5">Mango Bebes</option>
    <option value="6">Jugo de Maracuya en Agua pequeño</option>
    <option value="7">Jugo de Maracuya en Agua grande</option>
    <option value="8">Jugo de Maracuya en Leche pequeño</option>
    <option value="9">Jugo de Maracuya en Leche grande</option>
    <option value="10">Jugo de Tamarindo en Agua pequeño</option>
    <option value="11">Jugo de Tamarindo en Agua grande</option>
    <option value="12">Jugo de Mandarina en Agua pequeño</option>
    <option value="13">Jugo de Mandarina en Agua grande</option>
    <option value="14">Mandarina Bebes</option>
    <option value="15">Jugo de Guanabana en Agua pequeño</option>
    <option value="16">Jugo de Guanabana en Agua grande</option>
    <option value="17">Jugo de Guanabana en Leche pequeño</option>
    <option value="18">Jugo de Guanabana en Leche grande</option>
    <option value="19">Jugo de Fresa en Agua pequeño</option>
    <option value="20">Jugo de Fresa en Agua grande</option>
    <option value="21">Jugo de Fresa en Leche pequeño</option>
    <option value="22">Jugo de Fresa en Leche grande</option>
    <option value="23">Jugo de Mora en Agua pequeño</option>
    <option value="24">Jugo de Mora en Agua grande</option>
    <option value="25">Jugo de Mora en Leche pequeño</option>
    <option value="26">Jugo de Mora en Leche grande</option>
    <option value="27">Jugo de Uva en Agua pequeño</option>
    <option value="28">Jugo de Uva en Agua grande</option>
    <option value="29">Jugo de Guayaba en Agua pequeño</option>
    <option value="30">Jugo de Guayaba en Agua grande</option>
    <option value="31">Jugo de Guayaba en Leche pequeño</option>
    <option value="32">Jugo de Guayaba en Leche grande</option>
    <option value="33">Jugo de Piña en Agua pequeño</option>
    <option value="34">Jugo de Piña en Agua grande</option>
    <option value="35">Jugo de Curuba en Leche pequeño</option>
    <option value="36">Jugo de Curuba en Leche grande</option>
    <option value="37">Jugo de Lulo en Agua pequeño</option>
    <option value="38">Jugo de Lulo en Agua grande</option>
    <option value="39">Jugo de Lulo en Leche pequeño</option>
    <option value="40">Jugo de Lulo en Leche grande</option>
    <option value="41">Limonada Natural pequeño</option>
    <option value="42">Limonada Natural grande</option>
    <option value="43">Sorbete de Banano en Leche pequeño</option>
    <option value="44">Sorbete de Banano en Leche grande</option>
    <option value="45">Banano Bebes</option>
    <option value="46">Jugo de Naranja pequeño</option>
    <option value="47">Jugo de Naranja grande</option>
    <option value="48">Jugo de Tomate de Arbol pequeño</option>
    <option value="49">Jugo de Tomate de Arbol grande</option>
    <option value="50">Milo Frio pequeño</option>
    <option value="51">Milo Frio grande</option>
    <option value="52">Manzana Bebes</option>
    <option value="53">Jugo de Papaya en Agua pequeño</option>
    <option value="54">Jugo de Papaya en Agua grande</option>
    <option value="55">Jugo de Papaya en Leche pequeño</option>
    <option value="56">Jugo de Papaya en Leche grande</option>
    <option value="57">Salpicon con Helado pequeño</option>
    <option value="58">Salpicon con Helado grande</option>
    <option value="59">Salpicon sin Helado pequeño</option>
    <option value="60">Salpicon sin Helado grande</option>
    <option value="61">Agua con Gas</option>
    <option value="62">Agua sin Gas</option>
    <option value="63">Ensalada Navideña</option>
    <option value="64">Ensalada Halloween</option>
    <option value="65">Ensalada Amor y Amistad</option>
    <option value="66">Ensalada Antioqueña</option>
    <option value="67">Ensalada de Verano</option>
    <option value="68">Ensalada de Invierno</option>
    <option value="69">Ensalada Cumpleaños</option>
    <option value="70">Antigripal de la abuela</option>


    <option value="-">Other</option>
</select>
<label>Observaciones</label>
<input type="text" name="observaciones">
<label>Cantidad</label>
<input type="text" name="Cantidad">
<label>Valor Unitario</label>
<input type="text" name="ValorUnitario">
<label>Valor Total</label>
<input type="text" name="ValorTotal">

