@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle 34B No 66a - 02<br />
    Medellín, Colombia<br />
    <abbr title="Phone">P:</abbr>
    3192319827
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:juicebar.co@hotmail.com">JuiceBar.co@hotmail.com</a>
</address>