
@{
    ViewBag.Title = "Facturacion";
}

<h2>Facturacion</h2>
<select name="Producto">
    <option value="A">A</option>
    <option value="B">A</option>
    <option value="-">Other</option>
</select>

<input type="text" name="other">

